---
title: Installing and Configuring Datadog Cluster Monitoring for PCF
owner: Partners
---

This topic describes how to install and configure Datadog Nozzle for Pivotal Cloud Foundry (PCF).

1. Confirm that you have installed the [BOSH Health Monitor](https://docs.datadoghq.com/integrations/cloud_foundry/#configure-the-datadog-plugin-for-bosh-health-monitor).

1. Download the product file for the **Datadog Cluster Monitoring for PCF** from Pivotal Network.

1. Navigate to the Ops Manager Installation Dashboard.

1. Click **Import a Product** to upload the product file.

1. Under the **Import a Product** button, click **+** next to the version number of **Datadog Cluster Monitoring for PCF**. This adds the tile to your staging area.

1. Click the newly added **Datadog Cluster Monitoring for PCF** title.

1. In the **Datadog Config** section enter your [Datadog API key](https://app.datadoghq.com/account/settings#api). Leave Datadog API URL as is unless directed otherwise by [Datadog Support](https://docs.datadoghq.com/help/).

1. Create a UAA client account for Datadog using the [UAA CLI](https://docs.pivotal.io/pivotalcf/uaa/uaa-user-management.html). The Nozzle will require access to the Loggregator Firehose.
  <pre class="terminal">
  $ uaac client add datadog-firehose-nozzle \
        --name datadog-firehose-nozzle \
        --scope doppler.firehose,cloud_controller.admin_read_only,oauth.login \
        --authorities doppler.firehose,cloud_controller.admin_read_only,openid,oauth.approvals \
        --authorized_grant_types client_credentials,refresh_token \
        --access_token_validity 1209600 \
        -s $CLIENT_SECRET
  </pre>

1. In the **Cloud Foundry Settings** section, specify a UAA Client and UAA Secret from the previous step.

1. If Ops Manager requires you to upload a stemcell, [download a stemcell](https://network.pivotal.io/products/stemcells#/releases/5881) from the 3263 line. Upload it to Ops Manager with the **Import Stemcell** button.

1. The **Datadog Firehose Nozzle Config** section contains optional config for the Nozzle, the **Datadog Agent Config** section contains optional configurations for the Agent. You do not need to configure anything in either section.
<p class='note'><strong>Note:</strong> If you are using a single Datadog account to monitor multiple foundations, you must check the <strong>Use UUID Hostname</strong> checkbox.</p>

1. Return to the Ops Manager Installation Dashboard and click **Apply Changes** to install Datadog Cluster Monitoring for PCF tile.
