---
title: Installing and Configuring Datadog Cluster Monitoring for VMware Tanzu
owner: Partners
---

This topic describes how to install and configure Datadog Cluster Monitoring for VMware Tanzu using the Datadog Nozzle.

1. Install the [BOSH Health Monitor](https://docs.datadoghq.com/integrations/cloud_foundry/#configure-the-datadog-plugin-for-bosh-health-monitor).

2. Download the **Datadog Cluster Monitoring for VMware Tanzu** product file from Pivotal Network.

3. Go to the Tanzu Ops Manager installation dashboard and click **Import a Product** to upload the product file.

4. Click **Import a Product** to upload the product file.

5. Select the product file downloaded in step **2**. This adds the tile to your staging area.

6. Click the newly added **Datadog Cluster Monitoring for VMware Tanzu** tile.

7. Enter your [Datadog API key](https://app.datadoghq.com/account/settings#api) in the **Datadog Config** section. Leave the Datadog API URL unchanged, unless directed otherwise by [Datadog Support](https://docs.datadoghq.com/help/).

8. Create a UAA client account for Datadog using the [UAA CLI](https://docs.pivotal.io/application-service/uaa/uaa-user-management.html). The Nozzle requires access to the Loggregator Firehose.
  <pre class="terminal">
  $ uaac client add datadog-firehose-nozzle \
        --name datadog-firehose-nozzle \
        --scope doppler.firehose,cloud_controller.admin_read_only,oauth.login \
        --authorities doppler.firehose,cloud_controller.admin_read_only,openid,oauth.approvals \
        --authorized_grant_types client_credentials,refresh_token \
        --access_token_validity 1209600 \
        -s $CLIENT_SECRET
  </pre>

9. In the **Cloud Foundry Settings** section, specify a UAA Client and UAA Secret from the previous step.

10. If Ops Manager requires you to upload a stemcell, [download a stemcell](https://network.pivotal.io/products/stemcells-ubuntu-xenial/#/releases/721399) from the 621 line of releases. Upload it to Ops Manager with the **Import Stemcell** button.

11. The **Datadog Firehose Nozzle Config** section contains optional configurations for the Nozzle, and the **Datadog Agent Config** section contains optional configurations for the Agent. You do not need to configure anything in either section.
<p class='note'><strong>Note:</strong> If you are using a single Datadog account to monitor multiple foundations, you must check the <strong>Use UUID Hostname</strong> checkbox.</p>

12. The **Datadog Cluster Agent Settings** section contains configurations for the [Datadog Cluster Agent](https://github.com/DataDog/datadog-cluster-agent-boshrelease#datadog-cluster-agent-bosh-release) that provides autodiscovery of integrations and application container features.

13. Return to the Tanzu Ops Manager Installation Dashboard and click **Apply Changes** to install Datadog Cluster Monitoring for the VMware Tanzu tile.
