---
title: Release Notes for Datadog Cluster Monitoring for PCF
owner: Partners
---

These are release notes for Datadog Nozzle for Pivotal Cloud Foundry (PCF).

##<a id="ver"></a> v2.1.0

**Release Date:** March 29, 2018

Features included in this release:

* Updates the agent to 6.1.1
* Fixes some metric collection in the agent
* Fixes process agent hostnames

##<a id="ver"></a> v2.0.1

**Release Date:** March 15, 2018

Features included in this release:

* Updates the agent to 6.0.3
* Makes more BOSH tags configurable in the agent
* Fixes a bug in the Agent's UUID hostnames option
* Adds a Flare Command to the Firehose nozzle
* Fixes the nozzle's default max payload size, makes it configurable

##<a id="ver"></a> v2.0.0

**Release Date:** February 27, 2018

Features included in this release:

* Adds the Datadog Agent as an addon

##<a id="ver"></a> v1.1.0

**Release Date:** January 23, 2018

Features included in this release:

* Support for Application Metrics
* Support for Custom Tags
* Support for Proxies


##<a id="ver"></a> v1.0.0

**Release Date:** November 15, 2017

Features included in this release:

* Initial release
