---
title: Release Notes for Datadog Nozzle for PCF
owner: Partners
---

These are release notes for Datadog Nozzle for PCF.

##<a id="ver"></a> v1.0.0

**Release Date:** October 31, 2017

Features included in this release:

* Initial Release
