---
title: Release Notes for Datadog Cluster Monitoring for VMware Tanzu
owner: Partners
---

These are release notes for Datadog Cluster Monitoring for VMware Tanzu.

##<a id="ver"></a> v5.3.2

**Release Date:** Oct 11, 2022

* [Added] Bump Datadog Agent Bosh Release to version 4.11.2. See [here](https://github.com/DataDog/datadog-agent-boshrelease/releases/tag/4.11.2) for details.

##<a id="ver"></a> v5.3.1

**Release Date:** Aug 17, 2022

* [Added] Bump Datadog Agent Bosh Release to version 4.11.1. See [here](https://github.com/DataDog/datadog-agent-boshrelease/releases/tag/4.11.1) for details.

##<a id="ver"></a> v5.3.0

**Release Date:** Aug 9, 2022

* [Added] Bump Datadog Agent Bosh Release to version 4.11.0. See [here](https://github.com/DataDog/datadog-agent-boshrelease/releases/tag/4.11.0) for details.
* [Added] Bump Datadog Cluster Agent Bosh Release to version 2.3.0. See [here](https://github.com/DataDog/datadog-cluster-agent-boshrelease/releases/tag/2.3.0) for details.

##<a id="ver"></a> v5.2.1

**Release Date:** July 11, 2022

* [Fixed] Add missing option to enable advanced tagging in the cluster agent. See [#74](https://github.com/DataDog/datadog-cluster-monitoring-pivotal-tile/pull/74).

##<a id="ver"></a> v5.2.0

**Release Date:** June 10, 2022

* [Added] Bump Datadog Agent Bosh Release to version 4.10.0. See [here](https://github.com/DataDog/datadog-agent-boshrelease/releases/tag/4.10.0) for details.
* [Added] Bump Datadog Cluster Agent Bosh Release to version 2.2.0. See [here](https://github.com/DataDog/datadog-cluster-agent-boshrelease/releases/tag/2.2.0) for details.

##<a id="ver"></a> v5.1.0

**Release Date:** April 28, 2022

* [Added] Bump Datadog Firehose Nozzle Release to version 85. See [here](https://github.com/DataDog/datadog-firehose-nozzle-release/releases/tag/85) for details.
* [Added] Bump Datadog Agent Bosh Release to version 4.9.2. See [here](https://github.com/DataDog/datadog-agent-boshrelease/releases/tag/4.9.2) for details.
* [Added] Bump Datadog Cluster Agent Bosh Release to version 2.1.1. See [here](https://github.com/DataDog/datadog-cluster-agent-boshrelease/releases/tag/2.1.1) for details.
* [Added] Add option to enable advanced tagging in the nozzle. See [#67](https://github.com/DataDog/datadog-cluster-monitoring-pivotal-tile/pull/67).
* [Added] Add options to use the cluster agent API and serve nozzle data. See [#66](https://github.com/DataDog/datadog-cluster-monitoring-pivotal-tile/pull/66).

This tile includes the following packages:
  * [Firehose Nozzle 85](https://github.com/DataDog/datadog-firehose-nozzle-release/releases/tag/85)
  * [Datadog Agent Bosh Release 4.9.2](https://github.com/DataDog/datadog-agent-boshrelease/releases/tag/4.9.2)
  * [Datadog Cluster Agent Bosh Release 2.1.1](https://github.com/DataDog/datadog-cluster-agent-boshrelease/releases/tag/2.1.1)

##<a id="ver"></a> v5.0.1

**Release Date:** February 28, 2022

* [Added] Bump Datadog Agent Bosh Release to version 4.9.1. See [here](https://github.com/DataDog/datadog-agent-boshrelease/releases/tag/4.9.1) for details.

This tile includes the following packages:
  * [Firehose Nozzle 83](https://github.com/DataDog/datadog-firehose-nozzle-release/releases/tag/83)
  * [Datadog Agent Bosh Release 4.9.1](https://github.com/DataDog/datadog-agent-boshrelease/releases/tag/4.9.1)
  * [Datadog Cluster Agent Bosh Release 2.0.0](https://github.com/DataDog/datadog-cluster-agent-boshrelease/releases/tag/2.0.0)


##<a id="ver"></a> v5.0.0

**Release Date:** February 07, 2022

* [Added] Bump Datadog Agent Bosh Release to version 4.9.0. See [here](https://github.com/DataDog/datadog-agent-boshrelease/releases/tag/4.9.0) for details.
* [Added] Bump Datadog Cluster Agent Bosh Release to version 2.0.0. See [here](https://github.com/DataDog/datadog-cluster-agent-boshrelease/releases/tag/2.0.0) for details.

This tile includes the following packages:
  * [Firehose Nozzle 83](https://github.com/DataDog/datadog-firehose-nozzle-release/releases/tag/83)
  * [Datadog Agent Bosh Release 4.9.0](https://github.com/DataDog/datadog-agent-boshrelease/releases/tag/4.9.0)
  * [Datadog Cluster Agent Bosh Release 2.0.0](https://github.com/DataDog/datadog-cluster-agent-boshrelease/releases/tag/2.0.0)


##<a id="ver"></a> v4.9.4

**Release Date:** December 23, 2021

* [Added] Bump Datadog Agent Bosh Release to version 4.8.3. See [here](https://github.com/DataDog/datadog-agent-boshrelease/releases/tag/4.8.3) for details.
* [Added] Bump Datadog Cluster Agent Bosh Release to version 1.9.3. See [here](https://github.com/DataDog/datadog-cluster-agent-boshrelease/releases/tag/1.9.3) for details.

This tile includes the following packages:
  * [Firehose Nozzle 83](https://github.com/DataDog/datadog-firehose-nozzle-release/releases/tag/83)
  * [Datadog Agent Bosh Release 4.8.3](https://github.com/DataDog/datadog-agent-boshrelease/releases/tag/4.8.3)
  * [Datadog Cluster Agent Bosh Release 1.9.3](https://github.com/DataDog/datadog-cluster-agent-boshrelease/releases/tag/1.9.3)


##<a id="ver"></a> v4.9.3

**Release Date:** December 21, 2021

* [Added] Bump Datadog Agent Bosh Release to version 4.8.2. See [here](https://github.com/DataDog/datadog-agent-boshrelease/releases/tag/4.8.2) for details.
* [Added] Bump Datadog Cluster Agent Bosh Release to version 1.9.2. See [here](https://github.com/DataDog/datadog-cluster-agent-boshrelease/releases/tag/1.9.2) for details.

This tile includes the following packages:
  * [Firehose Nozzle 83](https://github.com/DataDog/datadog-firehose-nozzle-release/releases/tag/83)
  * [Datadog Agent Bosh Release 4.8.2](https://github.com/DataDog/datadog-agent-boshrelease/releases/tag/4.8.2)
  * [Datadog Cluster Agent Bosh Release 1.9.2](https://github.com/DataDog/datadog-cluster-agent-boshrelease/releases/tag/1.9.2)


##<a id="ver"></a> v4.9.2

**Release Date:** December 14, 2021

* [Added] Bump Datadog Agent Bosh Release to version 4.8.1. See [here](https://github.com/DataDog/datadog-agent-boshrelease/releases/tag/4.8.1) for details.
* [Added] Bump Datadog Cluster Agent Bosh Release to version 1.9.1. See [here](https://github.com/DataDog/datadog-cluster-agent-boshrelease/releases/tag/1.9.1) for details.

This tile includes the following packages:
  * [Firehose Nozzle 83](https://github.com/DataDog/datadog-firehose-nozzle-release/releases/tag/83)
  * [Datadog Agent Bosh Release 4.8.1](https://github.com/DataDog/datadog-agent-boshrelease/releases/tag/4.8.1)
  * [Datadog Cluster Agent Bosh Release 1.9.1](https://github.com/DataDog/datadog-cluster-agent-boshrelease/releases/tag/1.9.1)


##<a id="ver"></a> v4.9.1

**Release Date:** December 3, 2021

* [Added] Bump Datadog Cluster Agent Bosh Release to version 1.9.0. See [here](https://github.com/DataDog/datadog-cluster-agent-boshrelease/releases/tag/1.9.0) for details.

This tile includes the following packages:
  * [Firehose Nozzle 83](https://github.com/DataDog/datadog-firehose-nozzle-release/releases/tag/83)
  * [Datadog Agent Bosh Release 4.8.0](https://github.com/DataDog/datadog-agent-boshrelease/releases/tag/4.8.0)
  * [Datadog Cluster Agent Bosh Release 1.9.0](https://github.com/DataDog/datadog-cluster-agent-boshrelease/releases/tag/1.9.0)


##<a id="ver"></a> v4.9.0

**Release Date:** November 29, 2021

* [Added] Bump Datadog Agent Bosh Release to version 4.8.0. See [here](https://github.com/DataDog/datadog-agent-boshrelease/releases/tag/4.8.0) for details.

This tile includes the following packages:
  * [Firehose Nozzle 83](https://github.com/DataDog/datadog-firehose-nozzle-release/releases/tag/83)
  * [Datadog Agent Bosh Release 4.8.0](https://github.com/DataDog/datadog-agent-boshrelease/releases/tag/4.8.0)
  * [Datadog Cluster Agent Bosh Release 1.9.0](https://github.com/DataDog/datadog-cluster-agent-boshrelease/releases/tag/1.9.0)


##<a id="ver"></a> v4.8.1

**Release Date:** September 21, 2021

* [Added] Bump Datadog Agent Bosh Release to version 4.7.1. See [here](https://github.com/DataDog/datadog-agent-boshrelease/releases/tag/4.7.1) for details.

This tile includes the following packages:
  * [Firehose Nozzle 83](https://github.com/DataDog/datadog-firehose-nozzle-release/releases/tag/83)
  * [Datadog Agent Bosh Release 4.7.1](https://github.com/DataDog/datadog-agent-boshrelease/releases/tag/4.7.1)
  * [Datadog Cluster Agent Bosh Release 1.8.0](https://github.com/DataDog/datadog-cluster-agent-boshrelease/releases/tag/1.8.0)


##<a id="ver"></a> v4.8.0

**Release Date:** September 20, 2021

* [Added] Bump Datadog Agent Bosh Release to version 4.7.0. See [here](https://github.com/DataDog/datadog-agent-boshrelease/releases/tag/4.7.0) for details.
* [Added] Bump Datadog Cluster Agent Bosh Release to version 1.8.0. See [here](https://github.com/DataDog/datadog-cluster-agent-boshrelease/releases/tag/1.8.0) for details.

This tile includes the following packages:
  * [Firehose Nozzle 83](https://github.com/DataDog/datadog-firehose-nozzle-release/releases/tag/83)
  * [Datadog Agent Bosh Release 4.7.0](https://github.com/DataDog/datadog-agent-boshrelease/releases/tag/4.7.0)
  * [Datadog Cluster Agent Bosh Release 1.8.0](https://github.com/DataDog/datadog-cluster-agent-boshrelease/releases/tag/1.8.0)

##<a id="ver"></a> v4.7.0

**Release Date:** August 18, 2021

* [Added] Add option to collect monit children processes. See [#53](https://github.com/DataDog/datadog-cluster-monitoring-pivotal-tile/pull/53).
* [Added] Add option to force use of TLS 1.2. See [#52](https://github.com/DataDog/datadog-cluster-monitoring-pivotal-tile/pull/52).
* [Added] Add configuration option for CC API list app endpoint batch size. See [#51](https://github.com/DataDog/datadog-cluster-monitoring-pivotal-tile/pull/51).
* [Added] Add property to specify ulimit for number of open file descriptors. See [#50](https://github.com/DataDog/datadog-cluster-monitoring-pivotal-tile/pull/50).
* [Added] Add configuration forms for Datadog Agent Bosh addon placement rules. See [#49](https://github.com/DataDog/datadog-cluster-monitoring-pivotal-tile/pull/49).
* [Added] Bump Datadog Agent Bosh Release to version 4.6.0. See [here](https://github.com/DataDog/datadog-agent-boshrelease/releases/tag/4.6.0) for details.
* [Added] Bump Datadog Cluster Agent Bosh Release to version 1.7.0. See [here](https://github.com/DataDog/datadog-cluster-agent-boshrelease/releases/tag/1.7.0) for details.
* [Added] Bump Datadog Firehose Nozzle Release to version 83. See [here](https://github.com/DataDog/datadog-firehose-nozzle-release/releases/tag/83) for details.

This tile includes the following packages:
  * [Firehose Nozzle 83](https://github.com/DataDog/datadog-firehose-nozzle-release/releases/tag/83)
  * [Datadog Agent Bosh Release 4.6.0](https://github.com/DataDog/datadog-agent-boshrelease/releases/tag/4.6.0)
  * [Datadog Cluster Agent Bosh Release 1.7.0](https://github.com/DataDog/datadog-cluster-agent-boshrelease/releases/tag/1.7.0)

##<a id="ver"></a> v4.6.0

**Release Date:** April 22, 2021

* [Added] Add `no_proxy_nonexact_match` configuration option. See [#47](https://github.com/DataDog/datadog-cluster-monitoring-pivotal-tile/pull/47).
* [Added] Add inputs to configure custom URLs for process, APM and logs. See [#46](https://github.com/DataDog/datadog-cluster-monitoring-pivotal-tile/pull/46).
* [Added] Add option to send application environment variables as custom container tags. See [#45](https://github.com/DataDog/datadog-cluster-monitoring-pivotal-tile/pull/45).
* [Added] Add option to poll Cloud Foundry API for more advanced container tagging. See [#42](https://github.com/DataDog/datadog-cluster-monitoring-pivotal-tile/pull/42).
* [Added] Add option to collect containers only with the Process Agent. See [#41](https://github.com/DataDog/datadog-cluster-monitoring-pivotal-tile/pull/41).
* [Added] Bump Datadog Agent Bosh Release to version 4.5.0. See [here](https://github.com/DataDog/datadog-agent-boshrelease/releases/tag/4.5.0) for details.
* [Added] Bump Datadog Cluster Agent Bosh Release to version 1.6.0. See [here](https://github.com/DataDog/datadog-cluster-agent-boshrelease/releases/tag/1.6.0) for details.

This tile includes the following packages:
  * [Firehose Nozzle 80](https://github.com/DataDog/datadog-firehose-nozzle-release/releases/tag/80)
  * [Datadog Agent Bosh Release 4.5.0](https://github.com/DataDog/datadog-agent-boshrelease/releases/tag/4.5.0)
  * [Datadog Cluster Agent Bosh Release 1.6.0](https://github.com/DataDog/datadog-cluster-agent-boshrelease/releases/tag/1.6.0)

##<a id="ver"></a> v4.5.0

**Release Date:** April 6, 2021

* [Added] Add option to append VM UUID to generated friendly hostnames. See [#39](https://github.com/DataDog/datadog-cluster-monitoring-pivotal-tile/pull/39).
* [Added] Add TKGI kubernetes control plane monitoring. See [#38](https://github.com/DataDog/datadog-cluster-monitoring-pivotal-tile/pull/38).
* [Fixed] Properly exclude kubernetes service instances in the placement rules. See [#37](https://github.com/DataDog/datadog-cluster-monitoring-pivotal-tile/pull/37).
* [Added] Bump Datadog Agent Bosh Release to version 4.4.1. See [here](https://github.com/DataDog/datadog-agent-boshrelease/releases/tag/4.4.1) for details.

This tile includes the following packages:
  * [Firehose Nozzle 80](https://github.com/DataDog/datadog-firehose-nozzle-release/releases/tag/80)
  * [Datadog Agent Bosh Release 4.4.1](https://github.com/DataDog/datadog-agent-boshrelease/releases/tag/4.4.1)
  * [Datadog Cluster Agent Bosh Release 1.5.0](https://github.com/DataDog/datadog-cluster-agent-boshrelease/releases/tag/1.5.0)

##<a id="ver"></a> v4.4.0

**Release Date:** January 22, 2021

* [Fixed] Add field for customizing API site and properly sending data to other Datadog regions. See [#35](https://github.com/DataDog/datadog-cluster-monitoring-pivotal-tile/pull/35).
* [Added] Bump Datadog Agent Bosh Release to version 4.3.0. See [here](https://github.com/DataDog/datadog-agent-boshrelease/releases/tag/4.3.0) for details.
* [Added] Bump Datadog Cluster Agent Bosh Release to version 1.5.0. See [here](https://github.com/DataDog/datadog-cluster-agent-boshrelease/releases/tag/1.5.0) for details.

This tile includes the following packages:
  * [Firehose Nozzle 80](https://github.com/DataDog/datadog-firehose-nozzle-release/releases/tag/80)
  * [Datadog Agent Bosh Release 4.3.0](https://github.com/DataDog/datadog-agent-boshrelease/releases/tag/4.3.0)
  * [Datadog Cluster Agent Bosh Release 1.5.0](https://github.com/DataDog/datadog-cluster-agent-boshrelease/releases/tag/1.5.0)

##<a id="ver"></a> v4.3.0

**Release Date:** December 17, 2020

* [Added] Bump Datadog Agent Bosh Release to version 4.2.0. See [here](https://github.com/DataDog/datadog-agent-boshrelease/releases/tag/4.2.0) for details.
* [Added] Bump Datadog Cluster Agent Bosh Release to version 1.4.0. See [here](https://github.com/DataDog/datadog-cluster-agent-boshrelease/releases/tag/1.4.0) for details.

This tile includes the following packages:
  * [Firehose Nozzle 80](https://github.com/DataDog/datadog-firehose-nozzle-release/releases/tag/80)
  * [Datadog Agent Bosh Release 4.2.0](https://github.com/DataDog/datadog-agent-boshrelease/releases/tag/4.2.0)
  * [Datadog Cluster Agent Bosh Release 1.4.0](https://github.com/DataDog/datadog-cluster-agent-boshrelease/releases/tag/1.4.0)

##<a id="ver"></a> v4.2.0

**Release Date:** October 14, 2020

* [Added] Bump Datadog Agent Bosh Release to version 4.1.0. See [here](https://github.com/DataDog/datadog-agent-boshrelease/releases/tag/4.1.0) for details.
* [Added] Bump Datadog Cluster Agent Bosh Release to version 1.3.0. See [here](https://github.com/DataDog/datadog-cluster-agent-boshrelease/releases/tag/1.3.0) for details.

This tile includes the following packages:
  * [Firehose Nozzle 80](https://github.com/DataDog/datadog-firehose-nozzle-release/releases/tag/80)
  * [Datadog Agent Bosh Release 4.1.0](https://github.com/DataDog/datadog-agent-boshrelease/releases/tag/4.1.0)
  * [Datadog Cluster Agent Bosh Release 1.3.0](https://github.com/DataDog/datadog-cluster-agent-boshrelease/releases/tag/1.3.0)

##<a id="ver"></a> v4.1.1

**Release Date:** September 21, 2020

* [Fixed] Bump Datadog Agent Bosh Release to version 4.0.1]. See [here](https://github.com/DataDog/datadog-agent-boshrelease/releases/tag/4.0.1) for details.

This tile includes the following packages:
  * [Firehose Nozzle 80](https://github.com/DataDog/datadog-firehose-nozzle-release/releases/tag/80)
  * [Datadog Agent Bosh Release 4.0.1](https://github.com/DataDog/datadog-agent-boshrelease/releases/tag/4.0.1)
  * [Datadog Cluster Agent Bosh Release 1.2.0](https://github.com/DataDog/datadog-cluster-agent-boshrelease/releases/tag/1.2.0)

##<a id="ver"></a> v4.1.0

**Release Date:** September 08, 2020

* [Added] Enable usage of autogenerated BBS certificates. See [#29](https://github.com/DataDog/datadog-cluster-monitoring-pivotal-tile/pull/29).
* [Added] Add ability to configure the Cloud Foundry API integration as a cluster check. See [#24](https://github.com/DataDog/datadog-cluster-monitoring-pivotal-tile/pull/24).
* [Added] Add nozzle configuration options for metadata collection. See [#23](https://github.com/DataDog/datadog-cluster-monitoring-pivotal-tile/pull/23).
* [Fixed] Use DNS alias instead of consuming cluster agent bosh link in Datadog Agent Bosh addon. See [#31](https://github.com/DataDog/datadog-cluster-monitoring-pivotal-tile/pull/31).
  <p class='note'><strong>Note:</strong> This effectively fixes issues related to tile deployment order, and removes the need to perform deployments in two steps when enabling the Datadog Cluster Agent feature.</p>

This tile includes the following packages:
  * [Firehose Nozzle 80](https://github.com/DataDog/datadog-firehose-nozzle-release/releases/tag/80)
  * [Datadog Agent Bosh Release 4.0.0](https://github.com/DataDog/datadog-agent-boshrelease/releases/tag/4.0.0)
  * [Datadog Cluster Agent Bosh Release 1.2.0](https://github.com/DataDog/datadog-cluster-agent-boshrelease/releases/tag/1.2.0)

##<a id="ver"></a> v4.0.0

**Release Date:** June 23, 2020

* [Added] Add Datadog Cluster Agent Bosh release to the tile. See [#19](https://github.com/DataDog/datadog-cluster-monitoring-pivotal-tile/pull/19).
<p class='note'><strong>Note:</strong> When enabled, the Datadog Cluster Agent is deployed on an additional VM created during the tile deployment and may impact the billing from the cloud provider running your VMware Tanzu infrastructure. This additional VM can be configured in the `Resource Config` tab of the tile.
<p class='note'><strong>Note:</strong> If you chose to enable the Datadog Cluster Agent to use its features, and are performing a first installation of the Datadog Cluster Monitoring Tile or an upgrade from a version earlier than 4.0.0 to version 4.x, you have to do the first deployment in two steps:
  <ol>
    <li>Do a selective deployment with only the Datadog Cluster Monitoring Tile</li>
    <li>Do a second selective deployment with everything else</li>
  </ol>
</p>
* [Changed] Disable NPM with system probe by default. See [#20](https://github.com/DataDog/datadog-cluster-monitoring-pivotal-tile/pull/20).

This tile includes the following packages:
  * [Firehose Nozzle 79](https://github.com/DataDog/datadog-firehose-nozzle-release/releases/tag/79)
  * [Datadog Agent Bosh Release 3.0.0](https://github.com/DataDog/datadog-agent-boshrelease/releases/tag/3.0.0)
  * [Datadog Cluster Agent Bosh Release 1.0.0](https://github.com/DataDog/datadog-cluster-agent-boshrelease/releases/tag/1.0.0)

##<a id="ver"></a> v3.3.0

**Release Date:** May 13, 2020

Feature included in this release:

* Release the [Firehose Nozzle 79](https://github.com/DataDog/datadog-firehose-nozzle-release/releases/tag/79)
* Release the [Bosh Agent 2.13.7191](https://github.com/DataDog/datadog-agent-boshrelease/releases/tag/2.13.7191).

##<a id="ver"></a> v3.2.0

**Release Date:** March 24, 2020

Feature included in this release:

* Release the [Firehose Nozzle 79](https://github.com/DataDog/datadog-firehose-nozzle-release/releases/tag/79)
* Release the [Bosh Agent 2.13.7180](https://github.com/DataDog/datadog-agent-boshrelease/releases/tag/2.13.7180).

##<a id="ver"></a> v3.1.0

**Release Date:** February 24, 2020

Feature included in this release:

* Release the [Firehose Nozzle 79](https://github.com/DataDog/datadog-firehose-nozzle-release/releases/tag/79)
* Release the [Bosh Agent 2.13.7170](https://github.com/DataDog/datadog-agent-boshrelease/releases/tag/2.13.7170).
* Exclude kubo/kubelet jobs by default when deploying the cluster tile See [#13](https://github.com/DataDog/datadog-cluster-monitoring-pivotal-tile/pull/13)
* Add option to enable system-probe component of the Datadog Agent See [#15](https://github.com/DataDog/datadog-cluster-monitoring-pivotal-tile/pull/15)

##<a id="ver"></a> v3.0.0

**Release Date:** December 20, 2019

Feature included in this release:

* Upgrades the agent to 6.16.0. For more information, see the
[datadog-agent 6.16.0](https://github.com/DataDog/datadog-agent/releases/tag/6.16.0) release in GitHub.
* Upgrades the Nozzle to version 78. For more information, see the [Nozzle Release Page](https://github.com/DataDog/datadog-firehose-nozzle-release/releases/tag/78) in Github.

**Note:** This tile version no longer supports VMware Tanzu v2.3
Some Firehose Nozzle configuration options may need updating. Please see the release notes above.

##<a id="ver"></a> v2.14.0

**Release Date:** November 7, 2019

Feature included in this release:

* Upgrades the agent to 6.15.0. For more information, see the
[datadog-agent 6.15.0](https://github.com/DataDog/datadog-agent/releases/tag/6.15.0) release in GitHub.
* Upgrades the Nozzle to version 77. For more information, see the [Nozzle Release Page](https://github.com/DataDog/datadog-firehose-nozzle-release/releases/tag/77) in Github.

##<a id="ver"></a> v2.13.0

**Release Date:** September 17, 2019

Feature included in this release:

* Upgrades the agent to 6.14.0. For more information, see the
[datadog-agent 6.14.0](https://github.com/DataDog/datadog-agent/releases/tag/6.14.0) release in GitHub.
* Upgrades the Nozzle to version 76. For more information, see the [Nozzle Release Page](https://github.com/DataDog/datadog-firehose-nozzle-release/releases/tag/76) in Github.

##<a id="ver"></a> v2.12.0

**Release Date:** July 25, 2019

Feature included in this release:

* Upgrades the agent to 6.13.0. For more information, see the
[datadog-agent 6.13.0](https://github.com/DataDog/datadog-agent/releases/tag/6.13.0) release in GitHub.
* Upgrades the Nozzle to version 74. For more information, see the [Nozzle Release Page](https://github.com/DataDog/datadog-firehose-nozzle-release/releases/tag/74) in Github.

##<a id="ver"></a> v2.11.1

**Release Date:** July 3, 2019

Feature included in this release:

* Fix permission issue in the Datadog Firehose Nozzle `logrotate` configuration.

##<a id="ver"></a> v2.11.0

**Release Date:** July 1, 2019

Feature included in this release:

* Upgrades the agent to 6.12.0. For more information, see the
[datadog-agent 6.12.0](https://github.com/DataDog/datadog-agent/releases/tag/6.12.0) release in GitHub.
* Add `secret_backend_command` configuration options to the bosh release.

##<a id="ver"></a> v2.10.0

**Release Date:** May 28, 2019

Feature included in this release:

* Upgrades the agent to 6.11.2. For more information, see the
[datadog-agent 6.11.2](https://github.com/DataDog/datadog-agent/releases/tag/6.11.2) release in GitHub.
* Add `cf_os_hostname_aliasing` and `unique_friendly_hostname` options to the bosh release.
* Allow fully customizing the disk integration by passing YAML configuration.
* Upgrades the Datadog firehose nozzle to v72. For more information, see the
[datadog-firehose-nozzle 72](https://github.com/DataDog/datadog-firehose-nozzle-release/releases/tag/72) release in GitHub.

##<a id="ver"></a> v2.9.0

**Release Date:** April 19, 2019

Feature included in this release:

* Upgrades the agent to 6.11.0. For more information, see the
[datadog-agent 6.11.0](https://github.com/DataDog/datadog-agent/releases/tag/6.11.0) release in GitHub.
* Adds `skip_ssl_validation`, `logs_enabled`, `strip_proc_arguments` Datadog agent options to the tile.
* Scope Datadog agent deployment to linux only stemcells.

##<a id="ver"></a> v2.8.0

**Release Date:** March 29, 2019

Feature included in this release:

* Upgrades the Datadog firehose nozzle to v71. For more information, see the
[datadog-firehose-nozzle 71](https://github.com/DataDog/datadog-firehose-nozzle-release/releases/tag/71) release in GitHub.

##<a id="ver"></a> v2.7.0

**Release Date:** March 13, 2019

Feature included in this release:

* Upgrades the agent to 6.10.0. For more information, see the
[datadog-agent 6.10.0](https://github.com/DataDog/datadog-agent/releases/tag/6.10.0) release in GitHub.

##<a id="ver"></a> v2.6.1

**Release Date:** January 25, 2019

Feature included in this release:

* Upgrades the agent to 6.9.0. For more information, see the
[datadog-agent 6.9.0](https://github.com/DataDog/datadog-agent/releases/tag/6.9.0) release in GitHub.

##<a id="ver"></a> v2.5.0

**Release Date:** December 18, 2018

Features included in this release:

* Upgrades the agent to 6.8.0. For more information, see the
[datadog-agent 6.8.0](https://github.com/DataDog/datadog-agent/releases/tag/6.8.0) release in GitHub.
* Upgrades the Firehose Nozzle to v70, which includes significant performance improvements for heavy traffic environments.


##<a id="ver"></a> v2.4.1

**Release Date:** November 27, 2018

Feature included in this release:

* Upgrades the trace agent to 6.7.0. For more information, see the
[datadog-agent 6.7.0](https://github.com/DataDog/datadog-agent/releases/tag/6.7.0) release in GitHub.

##<a id="ver"></a> v2.3.1

**Release Date:** November 15, 2018

Fix included in this release:

* Fixes a configuration bug regarding setting the Friendly Hostname in the tile

##<a id="ver"></a> v2.3.0

**Release Date:** November 6, 2018

Feature included in this release:

* Updates the agent to 6.6.0

##<a id="ver"></a> v2.2.1

**Release Date:** October 2, 2018

Features included in this release:

* Updates the agent to 6.5.2
* Adds multiple endpoints configuration
* Enables the Trace Agent

##<a id="ver"></a> v2.1.0

**Release Date:** March 29, 2018

Features included in this release:

* Updates the agent to 6.1.1
* Fixes some metric collection in the agent
* Fixes process agent hostnames

##<a id="ver"></a> v2.0.1

**Release Date:** March 15, 2018

Features included in this release:

* Updates the agent to 6.0.3
* Makes more BOSH tags configurable in the agent
* Fixes a bug in the Agent's UUID hostnames option
* Adds a Flare Command to the Firehose nozzle
* Fixes the nozzle's default max payload size, makes it configurable

##<a id="ver"></a> v2.0.0

**Release Date:** February 27, 2018

Features included in this release:

* Adds the Datadog Agent as an addon

##<a id="ver"></a> v1.1.0

**Release Date:** January 23, 2018

Features included in this release:

* Support for Application Metrics
* Support for Custom Tags
* Support for Proxies


##<a id="ver"></a> v1.0.0

**Release Date:** November 15, 2017

Features included in this release:

* Initial release
