---
title: Using Datadog Nozzle for PCF
owner: Partners
---

This topic describes how to use Datadog Nozzle for PCF.

##<a id='using'></a> Using Datadog Nozzle for PCF

### View Metrics and Dashboards

1. Review the <a href="https://app.datadoghq.com/screen/integration/cloudfoundry">Cloud Foundry Overview</a> Dashboard in Datadog.

<%= image_tag("images/cloud-foundry-dashboard.png") %>
   
1. Explore individual metrics via the <a href="https://app.datadoghq.com/metric/explorer">Metrics explorer</a> page in Datadog, search for metrics beginning with cloudfoundry.nozzle:

<%= image_tag("images/cf-metrics.png") %>

### Create Alerts
1. <a href="https://docs.datadoghq.com/guides/monitors/">Create alerts</a> for your Cloud Foundry metrics.

### Troubleshooting

See Datadog's <a href="https://docs.datadoghq.com/integrations/cloud_foundry/">official documentation</a> for troubleshooting steps.
